
:root{
    --main-color:#FFFFFF;
    --text-color:#666666;
    --title-color:#333333;
    --icon-red:#FF4E50;
    --icon-blue:#4E73DB;
    --icon-green:#1CD7AD;
    --icon-yellow:#FFA507;

}
.container{
    outline: 2px dashed red;
    max-width: 1200px;
    width: 480px;
        margin: 0 auto;
        padding: 0 15px;
}

.header{
    padding-top: 19px;
    padding-bottom: 138px;
    background-image:url(./Rectangle\ 1.png);
 background-size:cover;
    background-position: center; 
width: 100%;
height: 100%;

}

.header-login{
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 13.986px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: transparent;
}
.header-signin{
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 13.986px;
font-style: normal;
font-weight: 700;
line-height: normal;
outline: 3px solid #FFF;
display: flex;
align-items: center;
justify-content: center;
background: transparent;
border-radius: 18px;
}
.header-buttons{
    display: flex;
    align-items: center;
    gap: 9px;
    justify-content: center;
}
.header-title{
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase;
padding-top: 123px;
}
.header-caption{
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 30.041px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding-top: 22px;
}
.header-text{
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 18.025px;
font-style: normal;
font-weight: 300;
line-height: normal;
width: 247.0px;
height: 43.0px;
padding-top: 12px;
padding-bottom: 57px;
}
.header-button{
    width: 280.0px;
height: 40.0px;
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 13.999px;
font-style: normal;
font-weight: 700;
line-height: normal;
background-color: #FF4E50;
border-radius: 20px;
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.hero{
padding-top: 60px;   

}
.hero .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-title{
    color: #333;
text-align: center;
font-family: Montserrat;
font-size: 22.004px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 288.0px;
height: 55.0px;


}
.hero-list {
    display: grid;
    gap: 27px;
grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 14px;
    padding-bottom: 27px;
}
.hero-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.hero-name{
    color: #333;
text-align: center;
font-family: Montserrat;
font-size: 14.011px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.hero-text{
    color: #666;
text-align: center;
font-family: Roboto;
font-size: 14.011px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.hero-card:nth-child(1) .hero-text {
    width: 224.0px;
height: 32.0px;

}
.hero-card:nth-child(2) .hero-text {
    width: 247.0px;
height: 65.0px;

}
.hero-card:nth-child(3) .hero-text {
    width: 241.0px;
height: 49.0px;

}
.hero-card:nth-child(4) .hero-text {
    width: 224.0px;
height: 32.0px;

}
.hero-card:nth-child(1) .hero-name {
    padding-top: 13px;
padding-bottom: 13px;
}
.hero-card:nth-child(2) .hero-name {
    padding-top: 13px;
padding-bottom: 16px;

}
.hero-card:nth-child(3) .hero-name {
    padding-top: 12px;
padding-bottom: 1px;

}
.hero-card:nth-child(4) .hero-name {
    padding-top: 13px;
padding-bottom: 13px;

}
.hero-img{
    display: block;
    width: 121.0px;
height: 120.0px;

}
.hero-btn{
color: #FF4E50;
text-align: center;
font-family: Montserrat;
font-size: 14.001px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 100px;
width: 280.0px;
height: 40.0px;
outline: 2px solid #FF4E50;
margin-bottom: 56px;
}
@media (min-width:768px) {
    .container{
        
    width: 768px;
        
    }
.hero{
padding-top: 72px;   

}
    .header{
        padding-top: 47px;
        padding-bottom: 233px;
        background-image:url(./tablet-header\ 1.png);
    }
    .header-box{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-bottom: 135px;
    }
    .header-buttons{
        justify-content: end;
    }
    .header-title{
        color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase;
margin-top: 0px;
margin-bottom: 0px;
padding-top: 0;
padding-bottom: 0;
    }
    .header-caption{
        color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 52.046px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
width: 507.0px;
height: 127.0px;
margin-bottom: 36px;
    }
.header-text{
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 24.021px;
font-style: normal;
font-weight: 300;
line-height: normal;
width: 428.0px;
height: 28.0px;
margin-bottom: 33px;
}
.header-button{
    width: 228.0px;
height: 42.0px;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 14.012px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.hero-title{
    color: #333;
text-align: center;
font-family: Montserrat;
font-size: 22.004px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 431.0px;
height: 27.0px;

}
.hero-list {
    display: grid;
    gap: 51px;
grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 31px;
    padding-bottom: 38px;
}
.hero-card:nth-child(1) {
    order: 1;
}

.hero-card:nth-child(2) {
    order: 3;
}

.hero-card:nth-child(3) {
    order: 2;
}

.hero-card:nth-child(4) {
    order: 4;
}
.hero-btn{
    color: #FF4E50;
text-align: center;
font-family: Montserrat;
font-size: 14.003px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
}
@media (min-width:1200px){
    .container{
        width: 1200px;
    }
    .hero{
padding-top: 69px;   

}
.header{
    background-image:url(./desk-header\ 1.png);
    padding-top: 47px;
        padding-bottom: 233px;
}
.header-login{
    width: 71.0px;
height: 17.0px;

    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.header-signin{
    width: 93.0px;
height: 39.0px;

    
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.header-box{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-bottom: 135px;
    }
.hero-card:nth-child(1) {
    order: 1;
}

.hero-card:nth-child(2) {
    order: 3;
}

.hero-card:nth-child(3) {
    order: 2;
}

.hero-card:nth-child(4) {
    order: 4;
}
}